

*{
    margin: 0;
    padding: 0;
    color: #fff;

    box-sizing: border-box;
    font-family: gilroy;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #000;
    color: white;
}
#nav{
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

}

#nav-part2{
    /* background-color: blue; */
    width: 53%;
    display: flex;
    align-items: center;
    justify-content:space-between;

}

#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

#nav>i{
    font-size: 20px;
    margin-right: 5px;
}
#nav h5{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

#nav img{
    height: 50px;
}
#line{
    width: 80px;
    height: 2px;
    background-color: red;
}

#NewOne{
    display: flex;
    height: calc(100% - 140px);
    width: 100%;
    position: relative;
    justify-content: space-between;
    /* background-color: lightseagreen; */
}

#left{
    width: 36%;
    height: 100%;
    /* background-color: red; */
    padding: 100px 80px;
}

#right{
    padding: 300px 140px;
    width: 26%;
    height: 100%;
    /* background-color: red; */
}

#center{
    width: 26%;
    height: 100%;
    
    padding-top: 60px;
} 

#left h1{
    font-weight: 700;
    font-size: 61px;
    line-height: 71px;
    margin-bottom: 50px;
}

#left h1 span{
    color: red;
    font-weight: 500;
}

#left p{
    font-size: 16px;
    width: 70%;
    line-height: 24px;
}

#left button{
    background-color: red;
    padding: 20px 42px;
    border-radius: 59px;
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: 700;
    line-height: 20px;
    margin-top: 30px;
    /* margin-bottom: 30px; */
    padding: 10px 25px;
    
    
        
}

#left button i{
    margin-right: 10px;
}

#center-bg{
    background-color: pink;
    background-image: url(https://c0.wallpaperflare.com/preview/85/135/782/coca-cola-led-signage-thumbnail.jpg);
    background-size: 450%;
    
    filter: blur(2px);
    background-position: 30% 50%;
    /* height: 100%; */
    width: 100%;
    height:88%;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
}

#right-elems{
    /* background-color:red; */
    width:200px;
    padding: 0 25px;
    
}

#NewOne>img{
    height: 100%;
    position:absolute;
    left: 54%;
    transform: translate(-50%, 0);
    z-index: 99;
}

#elem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    opacity: 0.6;
    /* background-color: blue; */
    border-bottom: 1px solid #fff;
}

#elem1 h1{
    font-size: 24px;
    font-weight: 600;


}
#elem1 i{
    font-size: 24px;
}
#elem2 h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top:15px;

}
#elem2 p{

    font-size: 12px;
    width: 80%;
    opacity: 0.6;
}